{% extends "base.html" %}

{% block head %}

<title>Learn More</title>
<ul style="padding: 150px; margin-left: 20px">
    <li>Hotter Temperatures</li>
    <p> Nulla euismod turpis eget quam laoreet, eu vulputate risus vulputate. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris hendrerit nulla et elit sollicitudin, sed convallis neque condimentum. In hendrerit libero in blandit facilisis. Integer dapibus viverra tortor, eget hendrerit orci placerat ut. Suspendisse semper elit quis convallis venenatis. Donec congue justo libero. Proin metus purus, euismod in tempor in, rutrum at tellus. Proin placerat, ante nec tincidunt commodo, sapien sapien pellentesque nulla, sit amet tempus elit risus a metus.</p>
    <li>More Severe Storms</li>
    <p>Donec malesuada fringilla urna vitae auctor. Nam vitae tincidunt risus. Phasellus imperdiet porta leo, quis pulvinar mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc congue sed libero sit amet euismod. Nunc volutpat tempor lectus, nec volutpat elit. Proin mattis pharetra euismod. Duis lacinia suscipit rhoncus. Nunc imperdiet tempor dui sed lobortis. Donec semper rutrum venenatis. Vivamus blandit volutpat est nec pellentesque. Maecenas a sapien magna. Nulla sed maximus nisl. Pellentesque et odio ac magna tempor venenatis ut non libero.</p>
    <li>Increased Drought</li>
    <p>Aliquam rutrum varius leo vitae porttitor. Proin lacinia sollicitudin purus posuere condimentum. Vivamus quis erat ex. Sed vitae neque semper, euismod magna sed, fringilla velit. Cras gravida elit lacus, ac mollis massa egestas quis. Sed at nulla in enim consectetur elementum. Donec rutrum eros quis arcu egestas porta. Mauris nec pulvinar tellus. Nam faucibus cursus justo, at dapibus mi cursus egestas. Maecenas quis lectus tortor.</p>
    <li>Warming, Rising Ocean</li>
    <p>Maecenas pellentesque purus eget ipsum eleifend, eu vulputate orci lacinia. Donec fermentum urna sem, ut accumsan nulla pretium sit amet. Aliquam euismod tellus eget sapien egestas, eget dignissim erat facilisis. Vestibulum non tristique sem. Sed sed neque suscipit, pellentesque eros eu, fermentum ex. Vestibulum sollicitudin libero vitae nibh venenatis vulputate. Maecenas non urna orci. Ut scelerisque aliquam lorem, eget placerat neque porta nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur a lorem ac risus blandit maximus. Cras rhoncus mi sollicitudin eros pulvinar tristique. Sed fringilla at urna id scelerisque.</p>
    <li>Loss of Species</li>
    <p>Integer iaculis massa urna. Nam ac dolor at massa cursus accumsan. Donec sed semper leo. Nunc vel justo rhoncus, lobortis eros ornare, fermentum nulla. Duis gravida porta lectus, vitae efficitur nunc feugiat ac. Suspendisse sed odio a risus cursus molestie. Aliquam erat volutpat.</p>
    <li>Not Enough Food</li>
    <p>Aenean mattis vitae tellus vitae lobortis. Aliquam tempus neque et arcu bibendum, eu vulputate turpis sagittis. Fusce sed viverra urna. Pellentesque iaculis eu ante suscipit aliquam. Vivamus orci nunc, rhoncus vitae ex vel, convallis vestibulum sapien. Vestibulum at nulla justo. Mauris molestie mollis enim eu vehicula. Aenean consectetur sem quis eros maximus ornare. Maecenas et velit ac lacus auctor condimentum.</p>
    <li>More Health Risks</li>
    <p>Pellentesque vel mattis justo. Nulla tincidunt dui nec sagittis gravida. Cras molestie ac velit sed ultricies. Suspendisse et ultricies erat, sit amet interdum metus. Vivamus nec nunc non dui aliquam sagittis id vestibulum nunc. Fusce at magna sit amet orci lacinia egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur euismod sodales libero sit amet dictum.</p>
    <li>Poverty and Displacement</li>
    <p>In tristique orci orci. In venenatis tortor quis lorem lacinia, ac tincidunt felis blandit. Morbi dictum tempor felis, sit amet aliquet enim aliquet vel. In sed malesuada mi. Nam rhoncus metus orci, sit amet malesuada ipsum cursus sit amet. Vivamus sit amet justo eu erat dapibus dictum sit amet a felis. Duis fermentum, nunc vitae semper aliquet, dui lectus aliquet lacus, eget commodo eros ante interdum purus. Vestibulum luctus turpis eget lacus dignissim porttitor. Fusce id neque in massa imperdiet condimentum.</p>
    
</ul>

{% endblock %}


{% block body %}

        <!-- Body -->
        <div class="body full-width">
            
            <!-- Navigation -->
            <nav class="navigation border--bottom pt1">
                <ul class="no-bullets list--inline pb1 bold">
                    <li class="mr2"><a class="link link--text" href="/confirmation"><b>Done</b></a></li>
                    <li class="mr2"><a class="link link--text" href="/log_binary">Contact</a></li>
                </ul>
            </nav>
        </div>

{% endblock %}
